In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

In [ ]:
| Data Science Tools       |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Visual Studio Code (VSCode) |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

Here are some examples of arithmetic expressions in Python:

- Addition: `5 + 3` equals 8.
- Subtraction: `10 - 4` equals 6.
- Multiplication: `7 * 2` equals 14.
- Division: `15 / 3` equals 5.

You can use these operators to perform basic arithmetic operations in Python.

In [ ]:
# This is a simple arithmetic expression to multiply, then add integers.
(3*4) + 5

In [ ]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

In [ ]:
**Objectives:**
* List popular languages for Data Science
* Explain the concept of data science libraries
* Introduce basic data manipulation techniques
* Provide examples of data visualization
* Demonstrate simple arithmetic and conversion operations

In [ ]:
## Author
Yasein Shikhada